Repository qiniu/java-sdk, pull requests merged in 2021-12, with the labels that each got.

#534 七牛云实时音视频QRTC增加接口
  build.gradle
  src/main/java/com/qiniu/rtc/QRTC.java
  src/main/java/com/qiniu/rtc/QRTCClient.java
  src/main/java/com/qiniu/rtc/RtcAppManager.java
  src/main/java/com/qiniu/rtc/RtcRoomManager.java
  src/main/java/com/qiniu/rtc/ServiceCallFunc.java
  src/main/java/com/qiniu/rtc/model/AppParam.java
  src/main/java/com/qiniu/rtc/model/AppResult.java
  src/main/java/com/qiniu/rtc/model/CallbackParam.java
  src/main/java/com/qiniu/rtc/model/ForwardParam.java
  src/main/java/com/qiniu/rtc/model/ForwardResult.java
  src/main/java/com/qiniu/rtc/model/MergeParam.java
  src/main/java/com/qiniu/rtc/model/MergeResult.java
  src/main/java/com/qiniu/rtc/model/MergeTrackParam.java
  src/main/java/com/qiniu/rtc/model/QRTCResult.java
  src/main/java/com/qiniu/rtc/model/RoomResult.java
  src/main/java/com/qiniu/rtc/model/UrlParam.java
  src/main/java/com/qiniu/rtc/model/WatermarksParam.java
  src/main/java/com/qiniu/rtc/service/AbstractService.java
  src/main/java/com/qiniu/rtc/service/AppService.java
  src/main/java/com/qiniu/rtc/service/CallbackService.java
  src/main/java/com/qiniu/rtc/service/ForwardService.java
  src/main/java/com/qiniu/rtc/service/MergeService.java
  src/main/java/com/qiniu/rtc/service/RoomService.java
  src/test/java/test/com/qiniu/rtc/RtcTest.java
Labels: size/XXL, needs-ok-to-test

#535 增加房间创建和删除逻辑
  src/main/java/com/qiniu/rtc/QRTC.java
  src/main/java/com/qiniu/rtc/QRTCClient.java
  src/main/java/com/qiniu/rtc/RtcAppManager.java
  src/main/java/com/qiniu/rtc/RtcRoomManager.java
  src/main/java/com/qiniu/rtc/model/AppResult.java
  src/main/java/com/qiniu/rtc/model/ForwardParam.java
  src/main/java/com/qiniu/rtc/model/ForwardResult.java
  src/main/java/com/qiniu/rtc/model/MergeTrackParam.java
  src/main/java/com/qiniu/rtc/model/RoomParam.java
  src/main/java/com/qiniu/rtc/model/RoomResult.java
  src/main/java/com/qiniu/rtc/service/CallbackService.java
  src/main/java/com/qiniu/rtc/service/MergeService.java
  src/main/java/com/qiniu/rtc/service/RoomService.java
  src/test/java/test/com/qiniu/rtc/RtcTest.java
Labels: size/L, needs-ok-to-test

#532 qvs add VoiceChat interface
  src/main/java/com/qiniu/qvs/DeviceManager.java
  src/main/java/com/qiniu/qvs/model/Device.java
  src/main/java/com/qiniu/qvs/model/VoiceChat.java
  src/test/java/test/com/qiniu/qvs/DeviceManagerTest.java
  src/test/java/test/com/qiniu/qvs/NameSpaceTest.java
  src/test/java/test/com/qiniu/qvs/PTZTest.java
  src/test/java/test/com/qiniu/qvs/RecordTest.java
  src/test/java/test/com/qiniu/qvs/StreamTest.java
  src/test/java/test/com/qiniu/qvs/TemplateTest.java
Labels: size/L

#537 qvs fix createDevice Param bug
  src/main/java/com/qiniu/qvs/model/Device.java
  src/test/java/test/com/qiniu/qvs/RecordTest.java
Labels: size/S
