Repository qiniu/java-sdk, pull requests merged in 2022-04, with the labels that each got.

#548 support deep archive storage
  src/main/java/com/qiniu/storage/BucketManager.java
  src/main/java/com/qiniu/storage/ResumeUploadPerformer.java
  src/main/java/com/qiniu/storage/model/BucketLifeCycleRule.java
  src/main/java/com/qiniu/storage/model/FileInfo.java
  src/main/java/com/qiniu/storage/model/StorageType.java
  src/main/java/com/qiniu/storage/model/UploadPolicy.java
  src/test/java/test/com/qiniu/storage/BucketTest.java
Labels: size/L, needs-ok-to-test

#549 object stat api result add fields
  .codebeatsettings
  src/main/java/com/qiniu/storage/model/FileInfo.java
  src/test/java/test/com/qiniu/storage/BucketTest2.java
Labels: size/L, ok-to-test

#551 QRTC-1875合流V4版本API
  src/main/java/com/qiniu/rtc/QRTCClient.java
  src/main/java/com/qiniu/rtc/model/MediaConfig.java
  src/main/java/com/qiniu/rtc/model/MediaInput.java
  src/main/java/com/qiniu/rtc/model/MediaOutput.java
  src/main/java/com/qiniu/rtc/model/MediaPosition.java
  src/main/java/com/qiniu/rtc/model/MergeJob.java
  src/main/java/com/qiniu/rtc/service/MergeService.java
  src/main/java/com/qiniu/rtc/service/MergeServiceV4.java
  src/test/java/test/com/qiniu/rtc/MergeServiceV4Test.java
Labels: size/XL, needs-ok-to-test

#552 QRTC-1875 format code
  src/main/java/com/qiniu/rtc/model/MediaConfig.java
  src/main/java/com/qiniu/rtc/model/MediaInput.java
  src/main/java/com/qiniu/rtc/model/MediaOutput.java
  src/main/java/com/qiniu/rtc/model/MediaPosition.java
  src/main/java/com/qiniu/rtc/model/MergeJob.java
  src/main/java/com/qiniu/rtc/service/MergeServiceV4.java
  src/test/java/test/com/qiniu/rtc/MergeServiceV4Test.java
Labels: size/M, needs-ok-to-test
